{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.json5",
      "options": {
        "parser": "json"
      }
    }
  ],
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
